<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-sm-0 pt-3">
      <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Page Accueil</a>
      <span>/</span>
      <span>Dashboard</span>
    </h4>

    <form class="d-flex md-form justify-content-center my-0">
      <!-- Default input -->
      <input type="search" placeholder="recherche" aria-label="Search" class="form-control">
      <button class="btn btn-primary btn-sm my-0 p" type="submit">
        <mdb-icon fas icon="search"></mdb-icon>
      </button>

    </form>

  </div>

</div>
<!-- Heading -->

 <div class="row p-2">
   <div class="col-md-6">
     <div class="card card-body z-depth-2">
       <span style="color: #303f9f">véhecule en attente de traitement &nbsp; <strong class="float-right" style="color: black;">878</strong></span>
     </div>
   </div>
   <div class="col-md-6">
     <div class="card card-body z-depth-2">
       <span style="color: #303f9f">véhecule en attente decontradictoire &nbsp; <strong class="float-right" style="color: black;">11</strong></span>
     </div>
   </div>
 </div>

<div class="row p-2">
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule traité en attentedevalidation &nbsp; <strong class="float-right" style="color: black;">39</strong></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule refusé par le loueur &nbsp; <strong class="float-right" style="color: black;">0</strong></span>
    </div>
  </div>
</div>

<div class="row p-2">
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule disponibles &nbsp; <strong  class="float-right" style="color: black;">15044</strong></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule gerés &nbsp; <strong class="float-right" style="color: black;">24940</strong></span>
    </div>
  </div>
</div>

<div class="row p-2">
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule refusé par leconstructeur &nbsp; <strong  class="float-right" style="color: black;">0</strong></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule en Anomalie &nbsp; <strong class="float-right" style="color: black;">1</strong></span>
    </div>
  </div>
</div>

<div class="row p-2">
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule en attente de reconditionnement &nbsp; <strong  class="float-right" style="color: black;">70</strong></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body z-depth-2">
      <span style="color: #303f9f">véhecule en cours de reconditionnement &nbsp; <strong class="float-right" style="color: black;">74</strong></span>
    </div>
  </div>
</div>
<div class="row pb-5">
  <div class="col-md-12 ">
    <button class="btn btn-danger float-right">Gérer les indicateurs</button>
  </div>
</div>



