<!-- Default form login -->

<div class="col-md-6  pt-5 ">
<header style="background-color: #303f9f">
  <h1>LOGO MINFA</h1>
</header>
</div>
  <div class="col-md-6 ">
    <form class="text-center border border-light p-5 z-depth-3"  (submit)="onLogin()">

      <p class="h4 mb-4">Connexion</p>

      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" mdbInput="">

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" mdbInput="">

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->

        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Mot de passe oublié?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button mdbBtn  block="true" class="my-4 btn btn-primary" type="submit">Se Connecter</button>

      <!-- Register -->
      <p>pas encore membre?
        <a href="">S'inscrire</a>
      </p>



    </form>
    <!-- Default form login -->
  </div>

