
<div class="row">
  <div class="col-md-8">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSuuh2qI5cLVzwDSfk9EAhg0vHgJvQk0wD92fQ-zqxK3b_YnHV" alt="Error 404" class="img-fluid" width="200px" height="20px">
    <h2 class="h2-responsive mt-3 mb-2">404. Page d'erreur.</h2>
    <h4>Vous n'avez pas la permission requise pour accéder à cette page.</h4>
    <div class="col-md-12">
      <a  class="btn btn-primary" routerLink="/minfa/login" >Se Connecter</a>
    </div>
  </div>
  <div class="col-md-4">
    <img src="https://mdbootstrap.com/img/Others/grafika404-bf.png" alt="Error 404" class="img-fluid">
  </div>
</div>
